*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
p, a{
    font-family: 'Times New Roman', Times, serif;
}
.pt-50{ padding-top: 130px;}
/* Navbar Section Start  */
/* /Navbar Section End  */

/* Banner Section Start   */
.banner{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/ready-summer.jpg);
    background-size: cover;
    background-position: center center;
}
.banner h1{
    font-size: 40px;
}
.banner h4{
    padding-top: 30px;
}
.banner .form-bg{
    width: 100%;
    height: auto;
}
.banner .form-bg ul{
    display: flex;
}
.banner .form-bg ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
    background: #ccc;
    padding: 5px;
    margin-right: 10px;
}
.banner .form-bg a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.banner .form-bg button{
    margin-top: 20px;
}
/* /Banner Section End   */

/* Fun Section Start  */
.fun{
    width: 100%;
    height: auto;
    color: #fff;
    background: #6C757D;
}
.fun .box{
    width: 150px;
    height: 120px;
    background: #709094;
    margin: 15px;
    border-radius: 20px;
}
/* /Fun Section End  */

/* Subscribe Section Start  */
.subscribe{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/ready-summer.jpg);
    background-size: cover;
    background-position: center center;
}
.subscribe form button{
    width: 100%;
}
/* /Subscribe Section End  */

/* Popular Section Start  */
.popular{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/ready-summer.jpg);
    background-size: cover;
    background-position: center center;
}

/* /Popular Section End  */

/* Estimate Section Start  */
.estimate{
    width: 100%;
    height: auto;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/ready-summer.jpg);
    background-size: cover;
    background-position: center center;
}
/* /Estimate Section End  */

/* Latest Section Start  */
.latest .img-fluid{
    width: 100%;
    height: 170px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/ready-summer.jpg);
    background-size: cover;
    background-position: center center;
}
/* /Latest Section End  */

/* Footer Section Start  */
footer{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/ready-summer.jpg);
    background-size: cover;
    background-position: center center;
}
footer p,
footer ul li a{
    text-decoration: none;
    color: hsla(0, 12%, 84%, 0.878);
    font-size: 15px;
}
footer ul li span{
    color: #fff;
}
footer ul li img{
    padding-right: 5px;
}
footer .footer-bottom li{
    display: inline-block;
    padding-right: 10px;
}
footer .social-icon li{
    display: inline-block;
    margin: 0px 10px;
    padding: 5px;
}
footer .social-icon li {
    border-radius: 50%;
    background: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
}
footer .social-icon li a{
    color: #2a2121;
}
/* /Footer Section End  */

/* Media Query Start */
@media (min-width: 768px){
    .banner .col-lg-3, .col-lg-2{
        margin-bottom: 10px;
    }
    .banner .form-bg .btn{
        width: 100%;
        height: 40px;
        border-radius: 0px;
    }
    .subscribe .col-lg-6{
        margin-bottom: 15px;
    }
    .popular .card{
        margin-bottom: 20px;
    }
    .estimate .col-lg-3{
        margin-bottom: 10px;
    }
    .estimate .btn{
        width: 100%;
    }
    footer{
        text-align: center;
    }
  }
@media (max-width: 576px) { 
    .banner h1{
        font-size: 30px;
        padding: 20px;
    }
    .banner h4{
        font-size: 20px;
        padding-left: 70px;
        padding-top: 0px;
    }
    .banner .form-bg{
        margin: 5px;
    }
    .banner .col-lg-3, .col-lg-2{
        margin-bottom: 10px;
    }
    .banner .form-bg .btn{
        width: 100%;
        height: 40px;
        border-radius: 0px;
    }
    .subscribe{
        text-align: center;
    }
    .subscribe .col-lg-6{
        margin-bottom: 15px;
    }
    .popular .card{
        margin-bottom: 20px;
    }
    .estimate .col-lg-3, .col-lg-2{
        margin-bottom: 10px;
    }
    .estimate .btn{
        width: 100%;
    }
    footer{
        text-align: center;
    }
 }
 @media (max-width: 320px) { 
    .banner h1{
        font-size: 20px;
        padding: 20px;
    }
    .banner h4{
        font-size: 15px;
        padding-left: 70px;
        padding-top: 0px;
    }
    .banner .form-bg{
        margin: 5px;
    }
    .banner .col-lg-3, .col-lg-2{
        margin-bottom: 10px;
    }
    .banner .form-bg .btn{
        width: 100%;
        height: 40px;
        border-radius: 0px;
    }
    .fun .box{
        margin-left: 80px;
    }
    .estimate .col-lg-3{
        margin-bottom: 10px;
    }
    .estimate .btn{
        width: 100%;
    }
  }
  @media (max-width: 375px){
    .popular .card{
        margin-left: 27px;
    }
  }
  
/* /Media Query End */